<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Folders</key>
	<array>
		<dict>
			<key>FolderIcon</key>
			<string>glyphicons_024_parents.png</string>
			<key>FolderName</key>
			<string>Blogs</string>
			<key>Items</key>
			<array>
				<dict>
					<key>BlogTitle</key>
					<string>Imthiaz Blog</string>
					<key>BlogURL</key>
					<string>http://burner.imthi.com/imthi</string>
				</dict>
				<dict>
					<key>BlogTitle</key>
					<string>Flip Media Blog</string>
					<key>BlogURL</key>
					<string>http://www.flipcorp.com/en/section/read/blog/feed</string>
				</dict>
				<dict>
					<key>BlogTitle</key>
					<string>$this - Shuja Blog</string>
					<key>BlogURL</key>
					<string>http://dollarthis.com/feed</string>
				</dict>
				<dict>
					<key>BlogTitle</key>
					<string>Weblog of Ravoof</string>
					<key>BlogURL</key>
					<string>http://www.ravoof.com/feed</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>FolderIcon</key>
			<string>glyphicons_252_twitter.png</string>
			<key>FolderName</key>
			<string>Twitter</string>
			<key>Items</key>
			<array>
				<dict>
					<key>BlogTitle</key>
					<string>@hmimthiaz</string>
					<key>BlogURL</key>
					<string>http://api.twitter.com/1/statuses/user_timeline.rss?screen_name=hmimthiaz</string>
				</dict>
				<dict>
					<key>BlogTitle</key>
					<string>@flipmedia</string>
					<key>BlogURL</key>
					<string>http://api.twitter.com/1/statuses/user_timeline.rss?screen_name=flipmedia</string>
				</dict>
				<dict>
					<key>BlogTitle</key>
					<string>@smshuja</string>
					<key>BlogURL</key>
					<string>http://api.twitter.com/1/statuses/user_timeline.rss?screen_name=smshuja</string>
				</dict>
				<dict>
					<key>BlogTitle</key>
					<string>@ravoof</string>
					<key>BlogURL</key>
					<string>http://api.twitter.com/1/statuses/user_timeline.rss?screen_name=ravoof</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>FolderIcon</key>
			<string>glyphicons_149_folder_new.png</string>
			<key>FolderName</key>
			<string>News</string>
			<key>Items</key>
			<array>
				<dict>
					<key>BlogTitle</key>
					<string>Gulf News</string>
					<key>BlogURL</key>
					<string>http://gulfnews.com/cmlink/1.446094</string>
				</dict>
				<dict>
					<key>BlogTitle</key>
					<string>Khaleej Times</string>
					<key>BlogURL</key>
					<string>http://www.khaleejtimes.com/services/rss/topstories/rss.xml</string>
				</dict>
				<dict>
					<key>BlogTitle</key>
					<string>Guardian</string>
					<key>BlogURL</key>
					<string>http://feeds.guardian.co.uk/theguardian/rss</string>
				</dict>
				<dict>
					<key>BlogTitle</key>
					<string>BBC</string>
					<key>BlogURL</key>
					<string>http://feeds.bbci.co.uk/news/rss.xml</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>FolderIcon</key>
			<string>glyphicons_205_electricity.png</string>
			<key>FolderName</key>
			<string>Tech</string>
			<key>Items</key>
			<array>
				<dict>
					<key>BlogTitle</key>
					<string>TUAW</string>
					<key>BlogURL</key>
					<string>http://www.tuaw.com/rss.xml</string>
				</dict>
				<dict>
					<key>BlogTitle</key>
					<string>MacRumors</string>
					<key>BlogURL</key>
					<string>http://feeds.macrumors.com/MacRumors-All</string>
				</dict>
				<dict>
					<key>BlogTitle</key>
					<string>Engadget</string>
					<key>BlogURL</key>
					<string>http://www.engadget.com/rss.xml</string>
				</dict>
				<dict>
					<key>BlogTitle</key>
					<string>Gizmodo</string>
					<key>BlogURL</key>
					<string>http://gizmodo.com/index.xml</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>FolderIcon</key>
			<string>glyphicons_291_snowman.png</string>
			<key>FolderName</key>
			<string>Fun</string>
			<key>Items</key>
			<array>
				<dict>
					<key>BlogTitle</key>
					<string>Dilbert Daily Strip </string>
					<key>BlogURL</key>
					<string>http://feeds.feedburner.com/DilbertDailyStrip</string>
				</dict>
				<dict>
					<key>BlogTitle</key>
					<string>Geek And Poke</string>
					<key>BlogURL</key>
					<string>http://feeds.feedburner.com/GeekAndPoke</string>
				</dict>
				<dict>
					<key>BlogTitle</key>
					<string>Lolcats &apos;n&apos; Funny Pictures </string>
					<key>BlogURL</key>
					<string>http://feeds.feedburner.com/ICanHasCheezburger</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>FolderIcon</key>
			<string>glyphicons_153_more_windows.png</string>
			<key>FolderName</key>
			<string>Misc</string>
			<key>Items</key>
			<array>
				<dict>
					<key>BlogTitle</key>
					<string>MacOSXHints.com</string>
					<key>BlogURL</key>
					<string>http://www.macosxhints.com/backend/geeklog.rdf</string>
				</dict>
				<dict>
					<key>BlogTitle</key>
					<string>iPhone Hacks</string>
					<key>BlogURL</key>
					<string>http://feeds.iphonehacks.com/iphonehacks</string>
				</dict>
				<dict>
					<key>BlogTitle</key>
					<string>[iPhone developer:tips];</string>
					<key>BlogURL</key>
					<string>http://feeds.feedburner.com/IphoneDeveloperTips</string>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
